

.resp-tabs-container h2,.resp-tabs-container h4
{
  color: #F60;
    padding: 2px 1px 3px 8px;
    font-size: 15px;
    font-weight: 700;
    background-color: #f7f7f7;
    border-bottom: 1px solid #CCC;
    border-right: 2px solid #CCC;
    margin: 6px 0px;
    background-image: none;
}
.resp-tabs-container h3 {
    padding: 4px 0px;
    background-color: #ff7000;
    font-size: .8rem;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.listok li:before{

  content: '\f00c';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #ff7000;
}
.listnot li:before{

  content: '\f00d';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #ff7000;
}
.listot li:before{

  content: '\f054';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #ff7000;
}

.prices .nav-link.active {

    color: #090909;
    background-color: #dedede;
    border-color: #b1b1b1 #b1b1b1 #decdcd;

}

.prices .nav-tabs
{
  border-bottom: none;
}
.prices .nav-item
{
  margin-top: 0px;
}
.prices .nav-link {
    margin-bottom: 0px;
    color: initial;
    padding: 1em 2em !important;
    font-size: 13px;
    font-weight: 600;
}
#grupal, #privado {
    border: 1px solid #d2d1d1;
}
.prices table thead
{
  background-color: #ff8635;
  color: #f5f5f5;
  font-size: .9rem;
  text-shadow: 1px 1px 1px #333131;
}
.prices tr
{
  font-size: .9rem;
  font-weight: 600;
}

.prices .table-bordered td, .table-bordered th {
    border: 1px solid #8c8c8c !important;
}

.tooltip-inner{

    padding:2px 7px;
    color:#55AAAA;
    text-align:center;
    font-weight:900;
    background: -webkit-gradient(linear, left top, left 25, from(#F4F4F4), color-stop(4%, #B4C8D6), to(#F4F4F4)); 
    background: -moz-linear-gradient(top, #F4F4F4, #B4C8D6 1px, #F4F4F4 25px); 
    border: 1px solid #55AAAA;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    border-radius:9px;    
}


/*table-tours*/

    .near_by_hotel_wrapper{
  background:#f5f5f5;
  }
    .custom_table {
        border-collapse: separate;
        border-spacing: 0 10px;
        margin-top: -3px !important;
    }
    .custom_table thead tr th {
      padding: 0px 8px;
      font-size: 16px;
      border: 0 none !important;
      border-top: 0 none !important;
    }
    .custom_table tbody tr {
        -moz-box-shadow: 0 2px 3px #e0e0e0;
        -webkit-box-shadow: 0 2px 3px #e0e0e0;
        box-shadow: 0 2px 3px #e0e0e0;
    }
    .near_by_hotel_wrapper table tr td {
      border-right: 1px solid #d2d1d1;
    }

    .custom_table tbody tr td {
      background: #fff none repeat scroll 0 0;
      border-top: 0 none !important;
      margin-bottom: 20px;
      padding: 5px 8px;
      font-size: 12px;
      text-align: initial;
      vertical-align: middle;
      font-weight: 500;
    }
    .near_by_hotel_wrapper table tr td {
        border-right: 1px solid #d2d1d1;
    }

    .first-td
    {
      background: #666666 !important;
    color: #FFF;
    font-weight: bold;
    border-left: 5px solid #F60;
    }

    .ttab2 .nav-tabs > li > a{
      line-height: unset;
    }

/*end table*/

/*tabs-responsive*/

ul.resp-tabs-list{
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
/*  font-weight: 600;*/
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}
.resp-tab-item {
    background-color: #e0e0e0;
    padding: 7px 7px !important;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right:  none;
    border-bottom: 1px solid #fff;
}
.resp-tab-item:hover
{
background: #F60; color:#FFF;
}
.resp-tab-active
{
  padding: 7px 7px !important;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border-bottom: none;
  margin-bottom: -1px !important;
 /* padding: 12px 14px 14px 14px !important;*/
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #fff;
  border-top: 0px solid #fff;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fff;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: url(../img/f2.png); }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; background: url(../img/f2.png); color: #fff; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}

/*end-tab*/

/*body*/

.pricetour{
color:#000;
background: #ff7d00; 
background: -moz-linear-gradient(top,  #ff7d00 0%, #ffffff 100%);
background: -webkit-linear-gradient(top,  #ff7d00 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #ff7d00 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d00', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
text-align:center; 
padding:30px 10px; 
margin:0px 5px 20px 5px; 
border:2px solid #FFF;
-moz-box-shadow: 0px 0px 3px #999999; 
-webkit-box-shadow: 0px 0px 3px #999999; 
box-shadow: 0px 0px 3px #999999;

}
.btn-nc
{
  background: #F60;
color: #FFF !important;
padding: 10px;
font-size: 12px;
border: 2px solid #FFF;
}
.btn-nc:hover
{
  text-decoration: underline !important;
}

.fond-form {
    background-color: #f29114;
    color: #fff;
    text-align: center;
    margin-top: 1px;
    border-radius: 3px;
}
  .form-book label
  {
    font-size: .8rem;
    font-weight: 500;
  }

  .form-book .col-12.col-md-2
  {
    background-color: #e9e9e9;
    border-left: 4px solid #f35e0c;
    padding-left: 4px;
    margin-left: 0px;
    padding-top: 2px;
  }
    .selectd
    {
        font-size: .9rem;
        padding: 5px 0px;
    }
    label
    {
        margin-bottom: 0;
    }
    #comentario {
        font-size: .85rem;
        color: #474747;
    }

    .btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    }


    .help-block.with-errors {
       color: #ff5050;
      margin-top: 5px;
      font-size: .8rem;

    }

    .modal-lg {
    max-width: 650px;
    }
    .modal-body {
    margin: 1rem;
    border: 1px solid #aeaaaa;
    }
    .form-es label {
    font-size: .85rem;
    font-weight: 600;
     }
     .font-table {
    font-size: .85rem;
}
.font-table a {
    color: #303030e6;
}
.font-table tr td {

    vertical-align: middle;
}
.font-table td:first-child {
    font-weight: bold;
}
.formulariot  .align-items-center label span
{
  color: #e30000;
}
.formulariot h5
{
  font-family: 'Oswald', sans-serif;
}