

.kwicks {
	list-style: none;
	position: relative;
	margin: 0px 0px 10px 0px;
	padding: 0;
}
.kwicks a{
	display:block; 
	min-height:250px; 
	min-width:652px;
}
.kwicks li{
	width: 138px;
	height: 200px;
	display: block;
	overflow: hidden;
	padding: 0; 
}

.kwicks.horizontal li {
	margin-right: 0px; 
	float: left;
}
.kwicks.vertical  li{
	margin-bottom: 5px;
}



.kwicks.horizontal #kwick_7{
	margin-right: none; 
}
.kwicks.vertical #kwick_7 {
	margin-bottom: none; 
}