body{ margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/home/bg.jpg) fixed;}
a{ text-decoration:none;}
.clear{ clear:both;}


/*slider new*/

.slider-text {
    background-color: #dd4646;
    padding: 8px;
    border-radius: 9px;
    font-size: .8em;
}
.carousel-caption {
    right: -45% !important;
    padding-bottom: 30px;
    top: -32px !important;
}
.carousel-indicators {
    z-index: 1;
}

.prices .nav-link.active {

    color: #090909;
    background-color: #dedede;
    border-color: #b1b1b1 #b1b1b1 #decdcd;

}

.prices .nav-tabs
{
  border-bottom: none;
}
.prices .nav-item
{
  margin-top: 0px;
}
.prices .nav-link {
    margin-bottom: 0px;
    color: initial;
    padding: 1em 2em !important;
    font-size: 13px;
    font-weight: 600;
}
#grupal, #privado {
    border: 1px solid #d2d1d1;
}
.prices table thead
{
  background-color: #ff8635;
  color: #f5f5f5;
 text-align: center;
  text-shadow: 1px 1px 1px #333131;
}
.prices tr
{
 /* font-size: .9rem;*/
  font-weight: 600;
}

.prices .table-bordered td, .table-bordered th {
    border: 1px solid #8c8c8c !important;
}

.box-pacotes:hover {
    border: 3px solid gray;
    border-top: 3px;
    border-left: 3px;
    border-right: 3px;
    border-bottom: 1px;/
    -webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 3s;
}

.carousel-caption .btn-primary{
background-color: #00abea;
border-color: none;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
}
.carousel-item {
  min-height: 350px; 
  height: 100%;
  width:100%; 
}
.carousel-caption h3,
.carousel .icon-container{
  background-color: transparent;
}
.carousel-caption h3 {
  padding: .5em;
}
.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}

.toggleHeading a
{
  color:#fff;
  text-decoration: initial;
}
.slider-text:hover
{
  background-color: #f34343;
}



/*end slider*/
/*formulario*/
.table-form input,.table-form textarea
{
 width: 90%;
}
.title3
{
  background-color: #333333;
  color:#fff;
  font-size: 1.3em;
  padding: .2em;
  text-align: center;
  font-weight: 600;
}

.input-full select
{
  width: 100%;
  padding: 5px;
}
.videos-tes iframe
{
  width: 100%;
}
.title-testim
{
 color: #690;
padding: 3px;
margin: 0px;
text-transform: uppercase;
font-size: 20px;
font-weight: normal;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.formularion input
{
  width: 100%;
}
.color-text2
{
background: #45A3B4;
color: #FFF;
font-size: 1.2em;
margin-top: 2px;
font-weight: 600;
}
.formularion {
    border: 1px solid #cecece;
    padding: 4px;
}
#randon {
    width: auto !important; 
}
.noinput input {
    width: auto !important;
    color: #4a3d3d;
}
.text-form3
{
  text-align: initial !important;
  font-size: 13px;
  font-weight: 600;
}
.noinput {
    float: left;
    width: 100%;
}
.form-control
{
  height: 24px !important;
}
.fond-coment
{
  background: url(../images/home/f1.png);
color: #333;
text-align: center !important;
font-weight: bold;
float: left;
width: 100%;
padding: 3px;
}
.formulario-contactt {
    border: 1px solid #aa9f9f;
    padding: 10px;
    box-shadow: 1px 1px 1px #898989;
    background-color: #ededed;
}
.formulario-contactt input, .formulario-contactt select
{
 width: 100%;
}
.addres-l {
    color: #042c63;
    font-weight: 600;
    font-size: 13px;
    margin: 3px 0px;
}
.textd {
    padding: 0 10px 20px;
    border: 1px solid #b6b4b4;
    box-shadow: 1px 1px 1px #bfbfbf;
}
.textd h6 {

    font-size: 24px;
    text-transform: capitalize;

}
/*end formulario*/
.back-c a {
    font-size: 15px;
    color: #2d2c2b;
    font-weight: 600;
}
.gray-info {
    background-color: #eaeaea;
    font-size: 15px;
}

.navbar-toggle
{
  z-index: 60;
  background-color:#fff;
}
.font-h2
{
  color: #F60;
margin: 0px;
padding: 2px 1px 2px 15px;
font-size: 14px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
background: url(../images/home/vine.png) left no-repeat;
}

.certificados-home img {
    width: 125px;
    margin: 0px !important;
}
.cert-large {
    width: 240px !important;
}

/*tabs-responsive*/

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
/*  font-weight: 600;*/
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
}
.resp-tab-item {
    background-color: #e0e0e0;
    padding: 7px 7px !important;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right:  none;
    border-bottom: 1px solid #fff;
}
.resp-tab-item:hover
{
background: #F60; color:#FFF;
}
.resp-tab-active
{
  padding: 7px 7px !important;
}
.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  border-bottom: none;
  margin-bottom: -1px !important;
 /* padding: 12px 14px 14px 14px !important;*/
}

.resp-tab-active {
  border-bottom: none;
  background-color: #fff;
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content { border: 1px solid #c1c1c1; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #fff;
  border-top: 0px solid #fff;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fff;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: url(../images/home/f2.png); }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}

/*end-tab*/

/*formulario*/
.formularioc
{
  border-spacing: 0px;
border-collapse: separate;
text-align: left;
border: 1px dotted #333333;
color: #000;
padding: 5px 5px 0px 5px;
background: #FFF;
}
.form-text
{
  background: #666666;
color: #FFF;
font-weight: bold;
border-left: 5px solid #F60;
padding: 6px;
}
.form-input input
{
 width: 100%;
 padding: 4px;
}
.input-select select
{
  width: 100%;
  padding: 4px;
}
.toolques input, .captcha input
{
  width: auto;
}
/*endformulario*/

/*formulario salkantay*/

.form-salkantay {
    padding: 3px;
}
.text-font
{
  font-size: 9px !important;
}
.title-form{
  background: #333333;
color: #FFF;
text-align: center;
font-weight: bold;
padding: 6px;
}
.text-fr
{
padding: 6px 0px;
text-align: right;
font-size: 11px;
color: #121212;
background-color: #ecececcc;

}
.text-f
{
background: #45A3B4;
text-align: right;
font-weight: bold;
font-size: 10px;
color: #FFF;
padding: 8px 6px;
}

/*end form salkantay*/
/*boostrap 4*/
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}
.w-90
{
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
/*end boostratp 4*/

/*menu-drow*/
.dropdown-submenu {
    position: relative;
}
.dropdown-menu{z-index: 2 !important;}
.multi-level
{
background-color: rgba(0,0,0,.7) !important;
/*left: 200px !important;*/
padding-top: 30px;
font-size: 13px;
}
.dropdown-submenu >a
{
  color:#F8F8F8 !important;
}
.dropdown-submenu >a:hover
{
  color:#000 !important;
  border-left: 5px solid #F60;
    text-decoration: underline !important; 
}
.multi-level > li > a
{
  padding: 4px 20px ;
}
.sub-strong strong
{
  color:#F60;
}
.sub-strong li
{
margin: 2px;
border-bottom: 1px dotted #CCCCCC;
}
.sub-strong li a
{
  font-weight: 600 !important;
}
.sub-strong :hover {
    /*color: #000 !important;*/
   /* background: #F60 !important;  */
   text-decoration: underline;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*end menu drop*/

/*slider tours*/
  .hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.padding-slider
{
 padding: 2px;
}
.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
#slider-thumbs {
    height: 240px;
    overflow-y: scroll;
    white-space: nowrap;
}
/*end slider tours*/

/*box-pacotes*/
.pacotesnovo-box{ background:#fff; padding:10px; margin:5px 0px; line-height:21px; }
.pacotesnovo-box a:hover span{ background:#03C;}
.pacotesnovo-box h2{color:#fff;text-align: center; border-radius: 4px 4px 0px 0px; margin:0px; padding:9px; font-size:12px;background-color: #ec6c00; text-transform:uppercase; font-weight: 600;}
.pacotesnovo-box img{ width:100%; }
.pacotesnovo-box strong{ color:#F60;}
.pacotesnovo-box em{ display:block; padding:5px 10px; font-style:normal;text-transform: capitalize;font-size: 1.2em;}
.pacotesnovo-box span{ color:#FFF; background:#C30; padding:1px 5px; display:inline; float:right;border-radius: 7px 0px 0px;}
.box-pacotes{
border: 1px solid #f67712;
color: #484848;
box-shadow: 1px 1px 5px -1px rgb(0, 0, 0);
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
-webkit-transition: border .2s ease-in-out;
-o-transition: border .2s ease-in-out;
transition: border .2s ease-in-out;
float: left;
width: 100%;
border-radius: 10px;
}
.box-pacotes a {
    color: #484848 !important;
}
.box-pacotes a:hover
{
  text-decoration: initial;
}
.magin-box
{
  padding: 0 5px;
}
/*end box-pacotes*/

/*footer 2*/
.home-footer iframe
{
  width: 100% !important;
  margin:0px !important;
}
.facebook
{
  width: 500px;
  margin:0 auto;
}
/*end footer2*/

/*footer*/
.efooter
{
  background-color: #0c0b0b;
}
/*end footer*/
.recurs1{ padding:12px 20px; background:#E6E6E6; margin:0px 0px 10px 0px;}
.recurs1 iframe{ margin:0px 0px 0px 12px; background:#FFF; height:260px; border:0px; width:335px; border:1px solid #090; padding:4px;}

.recurs2{ padding:12px 0px; background:#F47A00;}
.recurs2 img,.recurs2 iframe{ margin:0px 0px 0px 12px; background:#FFF; height:200px;}

.phome{ padding:15px; background:#EEEEED; border:8px solid #FF6600; border-left:none; border-right:none; line-height:19px; font-weight:bold;}

.bg1{ background:#55973D;}
.center{ text-align:center;}
a img{ border:0px;}

.TA_cdswritereviewlg{ float:left; margin-left:12px;}
.TA_cdswritereviewlg img{ height:auto;}

.mainmenu{ background:url(../images/home/mainmenu.png) top repeat-x; position:absolute; top:0px; width:100%; z-index:30;}
.mainmenu ul{ padding:0px; margin:0 auto; /*width:1000px;*/ width: 90%;}
.mainmenu ul li{ list-style:none; float:left;}
.mainmenu ul a{ display:block; color:#FFF; padding:13px 21px;}
.mainmenu ul a:hover{ background:#FFF; color:#333;}

.container{/* width:1200px;*/ margin:41px auto 0px auto; z-index:2;}

.clmp{ position:relative;}

.pacoteshome{ display:block; margin-bottom:20px; }
.pacoteshome strong{background:#E4E4E4; color:#333 !important; text-align:center; font-weight:bold; padding:5px; margin:0px 0px 25px 0px; font-size:13px; display:block;}
.pacoteshome:hover strong{background:url(../images/home/f1.png) top; color:#000 !important; }


.maispacotes{ background:#039; color:#FFF; padding:8px 50px; margin:5px 5px 40px 5px; font-size:14px; display:inline; float:right; border-radius:5px; border:3px solid #FFF; box-shadow:0px 0px 5px #333333;}
.maispacotes:hover{ background:#F60;}



.menuv{ position:absolute; top:0px; left:0px; z-index:20; letter-spacing:1px; background:url(../images/home/menuv.png); height:242px; padding:30px 0px 0px 0px;}
.menuv a{ display:block; padding:6px 10px; color:#FFF;}
.menuv a:hover{color:#F90; background:url(../images/home/menuv.png);}



.menuv2{ position:absolute; top:0px; left:0px; z-index:20; background:url(../images/home/menuv.png); /*height:242px;*/ padding:30px 0px 0px 0px; text-align:justify;}

.menj,.menj li {margin: 0;padding: 0;}
.menj,.menj ul {list-style:none;}
.menj li {display: inline;position: relative;margin: 0;}
.menj li .ini { padding:5px 10px; color:#FFF;display: block; /*width:210px;*/ letter-spacing:1px;}
.menj li:hover .ini{ border-left:5px solid #F60; width:205px;}
.menj li:hover .ini,.menj li:hover ul,.menj li ul { background:#F8F8F8; color:#333;}

.menj li ul.mm1{ top:-27px;}
.menj li ul.mm2{ top:-54px;}
.menj li ul.mm3{ top:-45px;}
.menj li ul.mm4{ top:-60px;}
.menj li ul.mm5{ top:-45px;}
.menj li ul.mm6{ top:-30px;}
.menj li ul.mm7{ top:-167px;}
.menj li ul.mm8{ top:-30px;}
.menj li ul.mm9{ top:-30px;}

.menj li ul {position: absolute;display: none;margin:0px;padding:0px; background:#FFF; left:230px; width:270px;}
.menj li ul li {display: list-item;}
.menj li ul li a{ color:#333; display:block; padding:7px 10px; margin:3px; border-bottom:1px dotted #CCCCCC; font-weight:bold;}
.menj li ul li a strong{ color:#F60;}
.menj li ul li a:hover{ color:#000; background:#F60; }
.menj li ul li a:hover strong{color:#FFF; }


.lang{ position:absolute; bottom:0px; right:0px; z-index:50; background:#FFF; padding:3px 3px 0px 3px;}

.packages{ background:#939F68; border:double 5px #FFF; padding:5px; margin:0px 0px 5px 0px;}
.packages a{ width:225px; display:block; float:left; margin:5px; padding:5px;text-align:justify; color:#515100; background:#FFC;}
.packages a:hover{ color:#000000; background:#BCBC7A; }

td.packages a{ padding:0px; margin:0px; width:100%;}
td.packages a:hover{ }


.introimg{ padding:5px;}
.introimg img{ width:100%;}
.introimg img:hover{ opacity:0.7;}


.pacotesnovo{ background:#fff; padding:10px; margin:5px 0px; line-height:21px; }
.pacotesnovo a{ border:1px solid #f67712; background:#FFF; float:left; width:232px; margin:5px; color:#484848;box-shadow: 1px 1px 5px -1px rgb(0, 0, 0);}
.pacotesnovo a:hover span{ background:#03C;}
.pacotesnovo h2{color:#fff; margin:0px; padding:5px; font-size:12px;background-color: #ec6c00; text-transform:uppercase; font-family:"Arial Black", Gadget, sans-serif;}
.pacotesnovo img{ width:100%; height:172px;}
.pacotesnovo strong{ color:#F60;}
.pacotesnovo em{ display:block; padding:5px 10px; font-style:normal;}
.pacotesnovo span{ color:#FFF; background:#C30; padding:1px 5px; display:inline; float:right;border-radius: 7px 0px 0px;}


.csc{ background:#fff; border:solid 1px #CCCCCC; padding:10px; }

.sidebar,.content{ float:left;}
.sidebar{ /*width:221px;*/ background:#F2F2F2;  border-right:#999 1px solid; border-bottom:#999 1px solid; }
.sidebar h2{ background:#FF7000; color:#FFF; font-size:12px; font-weight:normal; padding:5px; margin:0px; border-left:15px solid #000;}
.content{ /*width:738px; */margin:10px 0px 0px 0px; text-align:justify; color:#333; background:#FFF;}

.resp-tab-content > h2{ color:#F60; margin:0px; padding:2px 1px 2px 15px; font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background:url(../images/home/vine.png) left no-repeat;}
.content em{ color:#F00;}
.content strong{ color:#000;}

h1{ background:#333; color:#CCC; padding:6px; text-align:center; margin:0px; text-transform:uppercase; font-size:16px; font-weight:normal;}
h4{ color:#690; padding:3px; margin:0px; text-transform:uppercase; font-size:20px; font-weight:normal; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
h4 strong{ color:#333;}

h5{ color:#039; padding:3px; margin:0px; text-transform:uppercase; font-size:25px; font-weight:normal; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
h5 strong{ color:#333;}

.content .iframe{ width:270px; height:200px; background:#F60; border:solid 2px #006600; padding:5px; margin:5px;}

.content .itest{border:5px solid #000000; width:300px; height:250px;}

.st a{ display:block; color:#333; padding:5px 5px 5px 15px; margin:2px 0px;}
.st a:hover{color:#202020;}


.fond2
{
   background-image: url(../images/home/bg.png);
}
.footer{
 background:url(../images/home/fot.png); color:#FFF;
 position: relative;
/*background: rgba(245,135,0,1);
background: -moz-linear-gradient(top, rgba(245,135,0,1) 0%, rgba(245,135,0,1) 16%, rgba(184,92,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,135,0,1)), color-stop(16%, rgba(245,135,0,1)), color-stop(100%, rgba(184,92,0,1)));
background: -webkit-linear-gradient(top, rgba(245,135,0,1) 0%, rgba(245,135,0,1) 16%, rgba(184,92,0,1) 100%);
background: -o-linear-gradient(top, rgba(245,135,0,1) 0%, rgba(245,135,0,1) 16%, rgba(184,92,0,1) 100%);
background: -ms-linear-gradient(top, rgba(245,135,0,1) 0%, rgba(245,135,0,1) 16%, rgba(184,92,0,1) 100%);
background: linear-gradient(to bottom, rgb(224, 126, 7) 0%, rgb(198, 109, 0) 16%, rgba(184,92,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58700', endColorstr='#b85c00', GradientType=0 );*/
}


.footer .finfo{ /*width:1000px*/; margin:0 auto;}
.efooter a{ color:#FC0; display:block; float:left; padding:8px 30px;}
.efooter a:hover{ color:#F60; background:#FFF;}

.fenl{ margin:10px 0px 0px 0px;}
.fenl a{ display:block; margin:1px 10px 2px 10px; color:#FF9; background:url(../images/home/menuf.png); padding:5px;}
.fenl a:hover{ color:#FF0; background:url(../images/home/menuv.png);}
.fenl a:hover strong{ color:#FFF;}
.fenl strong{ color:#000;}
.fenl h2{ color: #1e1c1c;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 1.7em;
text-align: center;
margin: 3px 0px;
font-weight: 600;}

/*.fenl div{ width:330px; float:left;}*/


.tprecio{border-spacing:0px; border-collapse: separate; text-align:left; border:1px dotted #333333; color:#000; padding:5px 5px 0px 5px; background:#FFF; width:100%;}
.tprecio .tpreciot{ background:#666; color:#FFF; text-align:center; font-weight:bold; font-size:13px; text-transform:uppercase;}
.tprecio .tpreciottt{ background:#009900; color:#FFF; text-align:center; font-weight:bold; font-size:13px; text-transform:uppercase;}
.tprecio td{padding:5px 10px; border-bottom:5px solid #fff; }
.tprecio1{ background:#FFFAF4; color:#F00; font-weight:bold;}
.tprecio1 a{ color:#F00 !important;}
.tprecio2{ background:#F1FAFE; color:#036; font-weight:bold;}
.tprecio2 a{ color:#036 !important;}
.tprecio .tpreciop{ background:#333; text-align:center; color:#FFF;}
.tprecio .tprecioppp{ background:#69F; text-align:center; color:#FFF;}
.tprecio .tpreciop strong{ display:block; color:#333; background:#FFF;}

.descuento{ font-style:normal;  padding:10px; display:block; color:#333; background:#CCC; margin:10px 0px;}
.descuento h2{ margin:0px; font-size:17px !important;}
.descuento strong{ font-size:13px; color:#F00; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase;}
.descuento .descuentob{ color:#FFF; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; background:#039; padding:5px; display:compact; border-radius:4px;}
.descuento .descuentob:hover{ background:#F30;}


.infor{ font-size:11px; text-align:center; background-color: #0c0b0b; color:#fff;}
.infor a{ color:#FF0;}

.atable{ width:100%; padding:1px; border:#660 1px solid; }
.atable td{ vertical-align:top; padding:5px;}
.at50 td{width:50%;}
.abg1{ background:url(../images/home/f2.png) left; color:#FFF; text-align:center; font-weight:bold;}
.bg-cel{ background:url(../images/home/f2.png) left; color:#FFF; }
.abg1 a{ color:#FF0;}
.abg1 a:hover{ color:#FFF;}

.abg2{ background:url(../images/home/f1.png); color:#333; text-align:center; font-weight:bold;}
.abg2 a{ display:block; color:#221;}
.abg2 a:hover{color:#F30;}
.abg2 h2{ background:none; text-transform:uppercase; font-size:14px; color:#333;}


.tintro{border-spacing:0px; border-collapse: separate; text-align:left; border:1px dotted #333333; color:#000; padding:5px 5px 0px 5px; background:#FFF; width:100%;}
.tintro strong{ font-size:11px;}
.tintro td{padding:5px 10px; border-bottom:5px solid #fff; }
.tintro1{ background:#666666; color:#FFF; font-weight:bold; border-left:5px solid #F60;}
.tintro2{ background:#EFEFEF;}

.abg3{ background:#F6F6F6; color:#333; text-align:center; font-weight:bold;}
.abg6{ background:#E2E2E2; color:#333; text-align:center; font-weight:bold;}
.abg6 a, .abg3 a{ color:#333;}
.abg6 a:hover, .abg3 a:hover{ color:#F30;}
.abg5{ background:#333333; color:#FFF; text-align:center; font-weight:bold;}
.abg5 a{color:#FFF;}
.abg5 a:hover{color:#6F0;}
.abg4{ background:#F4F4F4; color:#333;}

.abgsh{ background:url(../images/home/f1.png); color:#000; text-align:center; font-weight:bold;}

.maisinfo{ background:url(../images/home/f1.png) top; margin:0px; padding:0px;}
.maisinfo a{ display:block; padding:2px; color:#000; text-align:center; font-weight:bold;}
.maisinfo a:hover{ color:#F60;}
.maisinfo:hover{ background:#E4E4E4;}


.atable .precio{color:#FFF; font-size:14px; background:#990000; padding:10px;}
.atable .precio strong{ color:#FFC; font-weight:normal;}

.atable .table002{ font-size:11px; width:100%;}
.atable .tt1{ background:#45A3B4; color:#FFF;}
.atable .tt2{ background:#F7FBFA;}
.atable .tt3{ background:#45A3B4; text-align:right; font-weight:bold; font-size:12px; color:#FFF;}
.atable .bold{ font-weight:bold;}
.atable .table002 input{ font-size:10px;}

.atable .f11{font-family:"Times New Roman", Times, serif; color:#C00; font-weight:bold;}

.payment{background:#000000; text-align:center; padding:5px;}
.payment input{padding:7px 25px;}
.payment img{ height:20px;}

.image{ text-align:center;}
.image img{ margin:8px; padding:4px; border:1px solid #CCC; background:#F8F8F8;max-width: 100%;}

.partidas{ border:1px solid #333;}
.partidas .tituld{ text-align:center; font-weight:bold;}
.partidas td{padding:3px;}
.partidas td{ border-bottom:1px solid #333 !important;}
.dispo, .vacio{ font-weight:bold; padding-bottom:17px !important; width:20px; text-align:center; border-left:1px solid #F8F8F8; font-size:10px;}
.dispo:hover{ background:#090; color:#FF0;}
.dispo{ background:url(/images/home/partida-c.jpg) bottom no-repeat;}
.vacio{ background:url(/images/home/partida-s.jpg) bottom no-repeat;}



.tipr_content
{
     font: 13px/1.7 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: #333; 
     background-color: #fff;
     color: #333;
     padding: 9px 17px;
}
.tipr_container_bottom
{
     display: none;
     position: absolute;
     margin-top: 13px;
     z-index: 1000;
}
.tipr_container_top
{
     display: none;
     position: absolute;
     margin-top: -75px;
     z-index: 1000;
}
.tipr_point_top, .tipr_point_bottom 
{
     position: relative;
  background: #fff;
  border: 1px solid #dcdcdc;
}
.tipr_point_top:after, .tipr_point_top:before
{
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  top: 100%;
  content: "";
  height: 0;
  width: 0;
}
.tipr_point_top:after
{
  border-top-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.tipr_point_top:before 
{
  border-top-color: #dcdcdc;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}
.tipr_point_bottom:after, .tipr_point_bottom:before
{
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  bottom: 100%;
  content: "";
  height: 0;
  width: 0;
}
.tipr_point_bottom:after
{
  border-bottom-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.tipr_point_bottom:before 
{
  border-bottom-color: #00CC00;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}

.randon{ font-weight:bold; color:#000; font-size:16px; padding:4px 10px; background:url(/images/home/randon.png) center; -webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none;}

.projetosocial{ position:fixed; right:0px; bottom:150px;}
.projetosocial img{ max-width: 130px;
max-height: 100px;}


.ttab { margin:30px 0px 10px 0px;}
.ttab ul.tabs {margin: 0; padding: 0; float: left; list-style: none; height: 32px; border-bottom: 1px solid #999; border-left: 1px solid #999; width: 100%;}
.ttab ul.tabs li {float: left; margin: 0; padding: 0; height: 31px; line-height: 31px; border: 1px solid #999; border-left: none; margin-bottom: -1px; overflow: hidden; position: relative; background: #e0e0e0;}
.ttab ul.tabs li a { text-decoration: none; color: #000; display: block; padding: 0 10px; border: 1px solid #fff; outline: none;}

.rcolord{ background:#93C718; font-weight:bold;}

.ttab ul.tabs li a:hover {background: #F60; color:#FFF;}
.ttab  ul.tabs li.active, html ul.tabs li.active a:hover {background: #fff; border-bottom: 1px solid #fff; color:#000;}

.tab_container {border: 1px solid #999; border-top: none; overflow: hidden; clear: both; float: left; width: 100%; background: #fff;}
.tab_content {padding:10px 5px; }
.tab_container #tab2 h2 { font-size:20px; color:#FFF; background:#933; font-weight:normal;}


#tab88{ background:#900;}


.ttab2 { margin:10px 20px 10px 20px;}
.ttab2 ul.tabs2 {margin: 0; padding: 0; float: left; list-style: none; height: 36px; border-bottom: 1px solid #F7F6F3; border-left: 1px solid #F7F6F3; width: 100%;}
.ttab2 ul.tabs2 li {float: left; margin: 0; padding: 0; height: 35px; line-height: 35px; border: 5px solid #FF6600; border-left: none; border-right:none; border-bottom:none; margin-bottom: -1px; overflow: hidden; position: relative; background: #F60; width:49%;}
.ttab2 ul.tabs2 li a { text-decoration: none; color: #FFF; font-weight:bold; font-size:14px; display: block; padding: 0px;  outline: none; text-align:center;}

.ttab2 ul.tabs2 li a:hover {background: #FF860D; color:#FFFFFF;}
.ttab2 ul.tabs2 li.active, html ul.tabs2 li.active a:hover, html ul.tabs2 li.active a {background:#EEEEED; border-bottom: 1px solid #F7F6F3; color:#FF6600;}

.tab_container2 {border: 1px solid #F7F6F3; border-top: none; overflow: hidden; clear: both; float: left; width: 100%; background: #F7F6F3; color:#333;}
.tab_content2 {padding:10px 5px; }
.tab_content2 table{ background:#FFF; }
.tab_content2 a{ color:#0000CC; }
.tab_content2 em{ font-style:normal;  padding:10px; display:block; color:#333; background:#CCC;}
.tab_content2 em strong{ color:#F00; }


.tab_container2 h2 { font-size:18px; color:#333 !important; background:none !important; font-weight:normal;}



.ttab3 { margin:10px 20px 10px 20px;}
.ttab3 ul.tabs3 {margin: 0; padding: 0; float: left; list-style: none; height: 36px; border-bottom: 1px solid #F7F6F3; border-left: 1px solid #F7F6F3; width: 100%;}
.ttab3 ul.tabs3 li {float: left; margin: 0; padding: 0; height: 35px; line-height: 35px; border: 5px solid #FF6600; border-left: none; border-right:none; border-bottom:none; margin-bottom: -1px; overflow: hidden; position: relative; background: #F60; width:114px;}
.ttab3 ul.tabs3 li a { text-decoration: none; color: #FFF; font-weight:bold; font-size:14px; display: block; padding: 0px;  outline: none; text-align:center;}

.ttab3 ul.tabs3 li a:hover {background: #FF860D; color:#FFFFFF;}
.ttab3 ul.tabs3 li.active, html ul.tabs3 li.active a:hover, html ul.tabs3 li.active a {background:#EEEEED; border-bottom: 1px solid #F7F6F3; color:#FF6600;}

.tab_container3 {border: 1px solid #F7F6F3; border-top: none; overflow: hidden; clear: both; float: left; width: 100%; background: #F7F6F3; color:#333;}
.tab_content3 {padding:30px 5px 10px 5px; }


.partidass{ border:1px solid #ccc; background:#FFF;}
.partidass .tituld{ text-align:center; font-weight:bold; text-transform:uppercase; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.partidass .tituld td{ width:95px; padding:20px 0px; background:#0084C4; color:#FFF;}
.partidass td{padding:3px;}
.partidass td{ border:1px solid #CCC !important;}

.partidass .dispo, .partidass .vacio{ font-weight:bold; width:20px; text-align:center; font-size:13px;}
.partidassssss .dispo{ background:url(/images/home/partida-c.jpg) center 20px no-repeat #090;}
.partidass .dispo{ padding:20px 0px 17px 0px !important; background:#090; color:#FFF;}
.partidass .vacio{ padding:10px 0px 27px 0px !important; background:url(/images/home/partida-s.jpg) center 20px no-repeat;}

.libroreclamos:hover{ cursor:pointer;}

.tesnew{ display:block; background:#FFFFFF; padding:10px; margin:5px 0px 5px 0px; border:1px solid #E4E4E4; line-height:18px;}
.tcomment{ text-align:justify; font-size:12px; color:#333; margin-bottom:5px;}
.tcomment img{ width:80px; float:left; padding:3px; border:1px solid #CCC; margin:0px 4px 0px 0px;}
.tname{ font-weight:bold; color:#000; padding:2px; text-align:right;}
.temail{ color:#F30; font-size:11px; text-align:right;}
.tlocation{ font-style:italic; font-size:11px; text-align:right;}

.depoimentos{ display:block; padding:5px; background:#390; color:#FFF; text-align:center; margin:0px 0px 20px 0px;}
.depoimentos:hover{background:#039;}

.pantiguo{ background:none !important; width:100%; border-spacing:0px; border-collapse: separate;}
.pantiguo1{ background:#333; color:#FFF;}
.pantiguo2{ background:#D6D6D6;}
.pa{ border-left:3px solid #F00;}
.paa{ border-left:3px solid #3C0;}
.pantiguo strong{ text-decoration:line-through;}
.pantiguo td{ border-bottom:none !important;}


.pimg{
  margin:5px;
  width:96%;
  -webkit-border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
  }
.pricetour,.penlace a{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
.pri a {
    float: left;
}



.pricetour{
background: #ff7d00; 
background: -moz-linear-gradient(top,  #ff7d00 0%, #ffffff 100%);
background: -webkit-linear-gradient(top,  #ff7d00 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #ff7d00 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7d00', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
text-align:center; padding:30px 10px; margin:0px 5px 50px 5px; border:2px solid #FFF;

-moz-box-shadow: 0px 0px 3px #999999; 
-webkit-box-shadow: 0px 0px 3px #999999; 
box-shadow: 0px 0px 3px #999999;

}

.play,.pause {
    font-size: 17px;
    color: #ff5151 !important;
}

.nav-controls > .prev, .nav-controls > .next {

    font-size: 15px !important;

}


.ptitle{ font-size:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:bold; color:#000; height:37px;}
.pprice{  margin:20px 20px; text-align:left; color:#000; text-align:center;}
.pprice p{ margin:0px; text-align:left;}
.pprice strong{}
.pprice span{ font-size:40px; padding:0px 5px;}
.penlace{ clear:both;}
.penlace a{ background:#F60; display:block; color:#FFF; padding:10px; font-size:12px; font-weight:bold; border:2px solid #FFF; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.penlace a:hover{ background:#FFF; color:#F30;}
